* {
	font-size: 15px;
	font-family: sans-serif;
}

#caps {
	text-transform: uppercase;
	font-weight: bold;

}

#bg {
	background-color: greenyellow;
}

#border[target=_blank] {
	border-style: ridge;

}